@import url("https://fonts.googleapis.com/css2?family=Hanalei&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.title {
  font-family: "Hanalei", system-ui;
  font-weight: 670;
  font-style: normal;
  text-align: center;
  font-size: 7em;
  cursor: pointer;
}

p {
  text-align: center;
  font-size: 23px;
}

body {
  padding: 20px;
  background-image: url("tile_background.png");
  background-size: cover;
}

.game-box {
  background-color: pink;
  padding: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700px; /* Adjust width as needed */
  margin: 0 auto 20px; /* Center the card and add space at the bottom */
  border-radius: 8px; /* Optional: adds rounded corners */
}

h2 {
  font-family: "Permanent Marker", cursive;
  font-weight: 10;
  font-style: normal;
}
@keyframes rainbow-color {
  0% { color: red; }
  15% { color: orange; }
  30% { color: yellow; }
  45% { color: green; }
  60% { color: blue; }
  75% { color: indigo; }
  90% { color: violet; }
  100% { color: red; }
}

.rainbow {
  animation: rainbow-color 2s linear infinite;
}

.paying {
  font-weight: 70;
  font-style: normal;
  text-align: center;
  font-size: 7em;
  
}
.select-button {

  font-weight: 670;
  font-style: normal;
  text-align: center;
  font-size: 2em;

}

footer {
    background-color: darkgrey;  /* Light grey background */
    color: white;              /* White text */
    text-align: center;        /* Center the text inside the footer */
    padding: 20px 0;           /* Add some padding */
    position: absolute;        /* Positioning it at the bottom */
    bottom: 0;
    width: 100%;               /* Ensure it fills the width of the screen */
}


html, body {
    height: 100%;              /* Make sure the html and body are at least the height of the viewport */
    margin: 0;                 /* Remove default margin */
    position: relative;        /* Relative positioning to support absolute positioning of the footer */
}